@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #18294f;
  overflow: hidden;
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: .75rem;
}

nav li {
  font-size: 1.125rem;
  padding: .3em 0 .5em;
}

a {
  display: block;
  text-decoration: none;
  color: #6c8fe0;
}

a:hover {
  background-color: #6c8fe0;
  color: #fff;
}
